extends layout

block content
  h1.text-center.mt-3.text-white= title
  
  ul.card.mt-3.mx-auto.text-center(style="width:50rem;")
    div.card-body
      each country in country_list
        li.nav-link
          a(href=country.url) #{country.name} 

      else
        li There are no countries.