extends layout

block content
  div
    h1.text-center.mt-3.text-white= title
    div.d-flex.justify-content-center
      div.card.mt-3(style="width: 50rem;")
        img(src="../images/flags.jpg", alt="A lot of flags.")
        div.card-body
          h5.card-title International
          p.card-text Sandwiches from across the globe!
          a.btn.btn-primary.mb-3(href="/countries/") See More
    div.d-flex.justify-content-center
      div.card.mt-3(style="width: 50rem;")
        img(src="../images/main.jpg", alt="An enormous sandwich.")
        div.card-body
          h5.card-title A big sandwich
          p.card-text Get a sandwich like this here.
          a.btn.btn-primary.mb-3(href="/sandwiches/") See More
      
