doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div 
      div
        div
          block sidebar
            ul
              li 
                a(href='/') Home
              li 
                a(href='/sandwiches/') All Sandwiches
              li 
                a(href='/categories/') All Categories
                hr
              li 
                a(href='/sandwich/create') Create new sandwich
              li 
                a(href='/categories/create') Create new category
                
        div
          block content
